@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  background-color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1730px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.3s ease-in-out;
}
.overlay.overlay--active {
  visibility: visible;
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #3B7401;
  padding: 15px 0 20px;
}
.header__geo {
  width: 100%;
  max-width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__geo_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__wrapper {
  width: 100%;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  width: 270px;
  height: 93px;
}
.header__link {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.header__menu {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}
.header__cabinet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__text {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-left: 5px;
}
.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__avatar_img {
  width: 32px;
  height: 32px;
}

.broad {
  margin: 40px 0 130px 200px;
}
.broad__home {
  color: #BDBCBC;
  font-size: 14px;
  font-style: normal;
}
.broad__name {
  color: #020202;
  font-size: 14px;
  font-style: normal;
}

.main__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 130px;
}
.main__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.main__card {
  position: relative;
  width: 100%;
  max-width: 818px;
  height: 460px;
  padding: 55px 250px 40px 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__card_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.main__card_img:first-child {
  top: 15px;
}
.main__card_title {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.4%;
  color: #020202;
  margin-bottom: 32px;
}
.main__card_list {
  width: 100%;
  max-width: 450px;
  list-style: inherit;
  margin-left: 15px;
}
.main__card_text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 15px;
}
.main__card_btn {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3B7401;
  border-radius: 10px;
  color: #fff;
}

.fermer__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto 32px;
  max-width: 992px;
}
.fermer__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1272px;
  margin: 0 auto 130px;
}
.fermer__card {
  max-width: 388px;
  display: flex;
  height: 737px;
  padding: 40px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}
.fermer__card_title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fermer__card_text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #828282;
}

.guid {
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 130px;
}
.guid__item {
  position: relative;
  width: 184px;
  height: 112px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.guid__item:not(:last-child)::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  top: 20%;
  right: -30%;
  background-image: url(../img/array-sm.svg);
}
.guid__text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #333;
}

.helper {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 130px;
}
.helper__item {
  max-width: 614px;
}
.helper__item:nth-child(1) .helper__card {
  color: #fff;
  display: flex;
  height: 496px;
  padding: 35px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #00a651;
  border-radius: 20px;
}
.helper__item:nth-child(1) .helper__card_title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.helper__item:nth-child(1) .helper__card_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.helper__item:nth-child(1) .helper__card_btn {
  display: flex;
  height: 50px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.helper__item:nth-child(2) .helper__card {
  color: #020202;
  display: flex;
  height: 496px;
  padding: 35px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #FFB61D;
  border-radius: 20px;
}
.helper__item:nth-child(2) .helper__card_title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.helper__item:nth-child(2) .helper__card_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.helper__item:nth-child(2) .helper__card_btn {
  display: flex;
  height: 50px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #020202;
  cursor: pointer;
}
.helper__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #020202;
  margin-bottom: 50px;
}
.helper__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.buyer__title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto 32px;
  max-width: 992px;
}
.buyer__help {
  display: flex;
  padding: 32px 64px;
  margin: 0 auto 150px;
  align-items: flex-start;
  gap: 64px;
  max-width: 783px;
  border-radius: 20px;
  background-color: #00a651;
  color: #fff;
}
.buyer__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.buyer__btn {
  display: flex;
  height: 50px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.promotion {
  width: 100%;
  height: 645px;
  background-image: url(../img/object-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 145px;
  margin-bottom: 60px;
}
.promotion__content {
  max-width: 868px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.promotion__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.9%;
  color: #000;
}
.promotion__text {
  max-width: 655px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.promotion__btn {
  display: flex;
  width: 250px;
  height: 50px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #000;
  background-color: #FFB61D;
  border-radius: 10px;
}

.footer-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 50px;
  border-bottom: 1px solid #BDBCBC;
}

@media (max-width: 576px) {
  .footer-top__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer-top__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

.footer-main {
  padding: 60px 0;
}

.footer-main__title {
  font-size: 1.125rem;
  font-weight: 500;
  font-weight: 600;
  color: #333333;
  margin-bottom: 40px;
}

.footer-main__text {
  font-size: 1rem;
  font-weight: 400;
  color: #828282;
  margin-bottom: 24px;
}

.footer-main__copyright {
  margin-top: 22px;
  font-size: 12px;
  font-weight: 400;
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.footer-main__copyright span {
  width: 40px;
  height: 10px;
  background: #FFC103;
  border-radius: 20px;
}

.footer-main__nav li {
  position: relative;
  padding-left: 12px;
}

.footer-main__nav li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-main__nav li > a {
  font-size: 1rem;
  font-weight: 500;
  color: #BDBCBC;
}

@media (max-width: 768px) {
  .footer-main__nav li > a {
    font-size: 1.125rem;
    font-weight: 500;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}
.footer-main__nav li > a:hover {
  color: #3B7401;
}

.footer-main__nav li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #828282;
}