<section class='fermer'>
  <div class='container'>
    <h2 class='fermer__title title'>Как пользоваться сайтом фермеру?</h2>
    <div class='fermer__guid guid'>
      <div class='guid__item'>
        <img src='img/union.svg' alt='union' class='guid__img'>
        <p class='guid__text'>
          Требуется выполнить регистрацию
        </p>
      </div>
      <div class='guid__item'>
        <img src='img/phone.svg' alt='phone' class='guid__img'>
        <p class='guid__text'>
          Подтвердить номер телефона
        </p>
      </div>
      <div class='guid__item'>
        <img src='img/union2.svg' alt='union2' class='guid__img'>
        <p class='guid__text'>
          Войти в личный кабинет и заполнить информацию о своем магазине
        </p>
      </div>
      <div class='guid__item'>
        <img src='img/basket.svg' alt='basket' class='guid__img'>
        <p class='guid__text'>
          Добавить свои товары
        </p>
      </div>
      <div class='guid__item'>
        <img src='img/feedback.svg' alt='feedback' class='guid__img'>
        <p class='guid__text'>
          Ожидать обратной связи от покупателей
        </p>
      </div>
    </div>
  </div>
</section>