<section class='main'>
  <div class='container'>
    <div class='broad'>
      <span><a href='' class='broad__home'>Главная </a></span>/
      <span> <a href='' class='broad__name '>Инструкция пользования сайтом</a></span>
    </div>
    <h1 class='main__title title'>Кем вы являетесь?</h1>
    <div class='main__cards'>
      <div class='main__card'>
        <img src='../img/fermer.jpg' alt='fermer' class='main__card_img'>
        <h2 class='main__card_title'>Я фермер!</h2>
        <ul class='main__card_list'>
          <li class='main__card_text'>Необходимо зарегистрироваться</li>
          <li class='main__card_text'>Подтвердить свой номер телефона</li>
          <li class='main__card_text'>Перейти в личный кабинет, заполнить информацию о своем магазине</li>
          <li class='main__card_text'>Загрузить свои продукты</li>
          <li class='main__card_text'>Ждать отклика от покупателей</li>
        </ul>
        <a href='' class='main__card_btn'>Подробнее</a>
      </div>
      <div class='main__card'>
        <img src='../img/buyer.jpg' alt='buyer' class='main__card_img'>
        <h2 class='main__card_title'>Я покупатель!</h2>
        <ul class='main__card_list'>
          <li class='main__card_text'>Необходимо зарегистрироваться</li>
          <li class='main__card_text'>Подтвердить свой номер телефона</li>
          <li class='main__card_text'>Заполнить фильтры (указать какой город, выбор категории и тип товара)</li>
          <li class='main__card_text'>Если вы не нашли необходимый продукт, то подайте на него запрос в разделе объявлений</li>
          <li class='main__card_text'>Ждать отклика от фермера</li>
        </ul>
        <a href='' class='main__card_btn'>Подробнее</a>
      </div>
    </div>
  </div>
</section>