.buyer{
  &__title{
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 32px;
    max-width: 992px;
    @media (max-width: 840px){
      font-size: 50px;
      margin-bottom: 50px;
    }
    @media (max-width: 576px) {
      font-size: 35px;
      margin-bottom: 30px;
    }
  }
  &__help{
    display: flex;
    padding: 32px 64px;
    margin: 0 auto 150px;
    align-items: flex-start;
    gap: 64px;
    max-width: 783px;
    border-radius: 20px;
    background-color: $green;
    color: $white;
    @media (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 100px;
    }
  }
  &__text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    @media (max-width: 576px) {
      text-align: center;
    }
  }
  &__btn{
    display: flex;
    height: 50px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    @media (max-width: 576px) {
      margin: 0 auto;
    }
  }
}