.header {
  display: flex;
  flex-direction: column;
  background-color: $background;
  padding: 15px 0 20px;

  &__geo {
    width: 100%;
    max-width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 576px) {
      display: none;
    }

    &_text {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: $white;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__logo {
    width: 270px;
    height: 93px;
    @media (max-width: 576px) {
      width: 170px;
      height: 45px;
    }
  }

  &__link {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $white;
  }

  &__menu {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    @media (max-width: 576px) {
      display: none;
    }
  }


  &__cabinet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__text {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $white;
    margin-left: 5px;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    &_img {
      width: 32px;
      height: 32px;
    }
  }
}


// BURGER

.header-mob__burger {
  width: 3rem;
  height: 2rem;
  position: relative;
  z-index: 11;
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
}

.header-mob__burger span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header-mob__burger::before, .header-mob__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header-mob__burger::before {
  top: 0;
}

.header-mob__burger::after {
  bottom: 0;
}

.header-mob__burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.header-mob__burger.active::before {
  top: .95rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-mob__burger.active::after {
  bottom: .95rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-mob__menu {
  position: absolute;
  top: 0;
  left: -5%;
  width: 112%;
  height: 100vh;
  background: #3B7401;
  z-index: 9;
  padding: 0 1.5rem;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 10rem;
  & a{
    color: $white;
  }
}

.header-mob__menu.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.header-mob__menu-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4rem;
}

.header-mob__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem;
}

.header-top__geo{
  display: flex;
}