.promotion{
  width: 100%;
  min-height: 645px;
  background-image: url(../img/object-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 145px;
  margin-bottom: 60px;
  @media (max-width: 576px) {
    padding: 100px 0 100px;
    margin-bottom: 60px;
  }

  &__content{
    max-width: 868px;
    display: flex;
    flex-direction: column;
    gap:30px;
    @media (max-width: 576px){
      align-items: center;
    }
  }
  &__title{
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.9%;
    color: $black;
    @media (max-width: 576px) {
      font-size: 40px;
      text-align: center;
    }
  }
  &__text{
    max-width: 655px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $black;
    @media (max-width: 576px){
      text-align: center;
    }
  }
  &__btn{
    display: flex;
    width: 250px;
    height: 50px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: $black;
    background-color: $accent;
    border-radius: 10px;
  }
}